.cameras video {
  aspect-ratio: 4 / 3;
  width: 100%;
}

.camera-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
}

.spectogram {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.observations .grid {
  display: grid;
  gap: 42px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.observations .observation__photo {
  aspect-ratio: 1 / 1;
  width: 100%;
  object-fit: cover;
}

.observation {
  width: 100%;
}

.observations .observation__taxon {
  font-size: var(--font-size-sm);
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 4px;
}

.observation__title {
  font-size: var(--font-size-md);
  text-transform: capitalize;
  font-weight: 600;
  margin: 0;
  margin-bottom: 8px;
}

.observation__user {
  font-size: var(--font-size-sm);
  margin: 0;
  margin-bottom: 16px;
}
