.header {
  width: 100%;
  padding: var(--gutter);
  position: relative;
  z-index: 999;
  opacity: 0;
  font-size: var(--font-size-md);
  text-transform: uppercase;
}

.header__menu-bar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 99999;
}

.header__menu-bar button {
  border: 0;
  width: 50px;
  height: 50px;
  background: none;
  color: var(--green);
  font-size: var(--font-size-lg);
  text-align: center;
}

.header.show {
  opacity: 1;
}

@media (max-width: 800px) {
  .header {
    flex-direction: column;
    align-items: start;
  }
}

.header a {
  color: currentColor;
  font-size: inherit;
  text-decoration: none;
}

.header a:hover {
  text-decoration: underline;
}

.header__logo {
  font-weight: 500;
}

.header__menu {
  text-align: right;
}

.header__menu .active {
  text-decoration: underline;
}

.header.open {
  position: fixed;
  background: var(--background);
  height: 100vh;
  overflow-y: scroll;
}

.header.open .header__container {
  padding-top: 50px;
  max-width: 100%;
  width: 100%;
  left: 0;
  top: 100px;
  opacity: 0;
  animation: menu-fade 0.5s ease forwards;
}

@keyframes menu-fade {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
