.home-content {
  position: absolute;
  padding: var(--gutter);
  top: 0;
  left: 0;
  height: 100vh;
  max-width: 850px;
  display: grid;
  place-content: end;
}

.home-content h1 {
  font-size: var(--font-size-xxl);
  text-transform: uppercase;
}

.home-content h2 {
  font-size: var(--font-size-lg);
  text-transform: uppercase;
}

.home-content .illustration svg {
  position: fixed;
  color: var(--green);
  right: -400px;
  bottom: -200px;
  z-index: -1;
  width: 900px;
  height: 700px;
}

@media (min-width: 800px) {
  .home-content .illustration svg {
    right: -200px;
    bottom: -200px;
    width: 1200px;
    height: 1000px;
  }
}
