.home-content {
  padding: var(--gutter);
  height: calc(100vh - 100px);
  max-width: 850px;
  display: grid;
  place-content: end;
}

.home-content h1 {
  font-size: var(--font-size-xxl);
  text-transform: uppercase;
}

.home-content h2 {
  font-size: var(--font-size-lg);
  text-transform: uppercase;
}

.home-content .illustration svg {
  position: fixed;
  color: var(--green);
  right: -400px;
  bottom: -200px;
  z-index: -1;
  width: 900px;
  height: 700px;
}

@media (min-width: 800px) {
  .home-content .illustration svg {
    right: -200px;
    bottom: -200px;
    width: 1200px;
    height: 1000px;
  }
}

.flower1 {
  position: fixed;
  bottom: -20%;
  left: -10%;
  width: 600px;
  opacity: 0.1;
}

.flower2 {
  position: fixed;
  bottom: -10%;
  left: 30%;
  width: 300px;
  opacity: 0.1;
}

.flower6 {
  position: fixed;
  bottom: -10%;
  right: 10%;
  width: 400px;
  opacity: 0.1;
}

.flower7 {
  position: fixed;
  bottom: -10%;
  right: -10%;
  width: 400px;
  opacity: 0.1;
}
